<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRIS Prediction</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4" >IRIS Prediction</h1>

        {% if prediction %}
            <div class="alert alert-success" role="alert">
                The predicted iris type is: {{ prediction }}
            </div>
        {% endif %}

        <form method="post" action="/predict">
            
            <div class="form-group">
                <label for="sepal_length">Sepal length: (cm.)</label>
                <input type="text" class="form-control" name="sepal_length" id="sepal_length" required step="any">
            </div>
            <div class="form-group">
                <label for="sepal_width">Sepal width: (cm.)</label>
                <input type="text" class="form-control" name="sepal_width" id="sepal_width" required step="any">
            </div>
            <div class="form-group">
                <label for="petal_length">Petal length: (cm.)</label>
                <input type="text" class="form-control" name="petal_length" id="petal_length" required step="any">
            </div>
            <div class="form-group">
                <label for="petal_width">Petal width: (cm.)</label>
                <input type="text" class="form-control" name="petal_width" id="petal_width" required step="any">
            </div>
            
            <button type="submit" class="btn btn-primary">Predict</button>
            <a href="/show" class="btn btn-primary">Show History</a>
        </form>
    </div>
    


    <!-- Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
